.pokemon-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px var(--space-sm);
  border-radius: 10px;
  overflow: hidden;
}

.pokemon-type__text {
  font-family: var(--font-family-base);
  font-size: 12px;
  font-weight: var(--font-weight-bold);
  line-height: 16px;
  color: var(--color-white);
  text-transform: capitalize;
  white-space: nowrap;
  margin: 0;
}

