/* Block */
.language-picker {
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  gap: 0;
  position: relative;
}

/* Elements */
.language-picker__button {
  grid-area: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all var(--transition-base);
}

.language-picker__button--active {
  border: var(--border-width-2) solid var(--color-blue-400);
  background-color: transparent;
}

.language-picker__button:hover {
  opacity: 0.8;
}

.language-picker__flag {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.language-picker__button:first-child {
  margin-left: 0;
}

.language-picker__button:nth-child(2) {
  margin-left: 44px;
}

