.language-picker {
  display: inline-grid;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  position: relative;
}

.language-picker__button {
  grid-area: 1 / 1;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: var(--border-radius-xl);
  border: none;
  background: transparent;
}

.language-picker__button--active {
  border: var(--border-width-thick) solid var(--color-blue-500);
}

.language-picker__button--en {
  margin-left: 0;
  margin-top: 0;
}

.language-picker__button--es {
  margin-left: 44px;
  margin-top: 0;
}

.language-picker__flag {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50%;
}

