body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: var(--color-primary);
  background-color: var(--color-gray-50);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
}

h1 {
  font-size: var(--font-size-3xl);
}

h2 {
  font-size: var(--font-size-2xl);
}

h3 {
  font-size: var(--font-size-xl);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

