.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  background-color: var(--color-blue-50);
  overflow: hidden;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width-container);
  height: 100%;
  padding: 0 var(--space-md);
  box-sizing: border-box;
}

.header__title {
  font-family: var(--font-family-base);
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
  line-height: 40px;
  color: var(--color-slate-900);
  white-space: pre;
}

.header__badge {
  display: flex;
  align-items: center;
  padding: var(--space-sm) var(--space-md);
  border: 1px solid var(--color-blue-700);
  border-radius: var(--border-radius-full);
  box-sizing: border-box;
}

.header__badge-text {
  font-family: var(--font-family-base);
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
  line-height: 24px;
  color: var(--color-blue-700);
  white-space: nowrap;
}

