.square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  border: 1px solid var(--color-slate-300);
  background-color: var(--color-white);
  cursor: pointer;
  transition: background-color var(--transition-fast);
}

.square:hover:not(.square--disabled) {
  background-color: var(--color-gray-100);
}

.square--disabled {
  cursor: not-allowed;
}

.square__text {
  font-family: "Rubik Mono One", monospace;
  font-size: 48px;
  line-height: 48px;
  color: var(--color-slate-900);
  font-style: normal;
}

.square__text--winning {
  color: var(--color-green-600);
}

