.square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  border: var(--border-width) solid var(--color-gray-300);
  background-color: var(--color-white);
  cursor: pointer;
  transition: background-color var(--transition-base);
}

.square:hover {
  background-color: var(--color-gray-50);
}

.square--disabled {
  cursor: not-allowed;
}

.square--disabled:hover {
  background-color: var(--color-white);
}

.square__value {
  font-family: var(--font-family-mono);
  font-size: 48px;
  line-height: 48px;
  color: var(--color-primary);
  margin: 0;
}

.square__value--winning {
  color: var(--color-green-600);
}

