/* Block */
.square {
  width: 90px;
  height: 90px;
  border: var(--border-width) solid var(--color-gray-300);
  background-color: var(--color-white);
  font-family: var(--font-family-mono);
  font-size: var(--font-size-4xl);
  line-height: 48px;
  font-weight: 400;
  color: var(--color-primary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-base);
}

.square:hover:not(.square--disabled) {
  background-color: var(--color-gray-50);
}

/* Modifiers - States */
.square--winner {
  color: var(--color-green-600);
}

.square--disabled {
  cursor: not-allowed;
}

